Repository extend-luogu/extend-luogu, changes with the owners that CODEOWNERS names for each.
All owners: @optimize-2, @ForkKILLET, @Minstdfx, @5ab-juruo, @undefined-moe, @YuzhenQin, @wxh06

Fixed
  .github/workflows/linter.yml
  .markdownlint.json
  docs/POLICY.md
  docs/badge.md
Owners: @wxh06, @YuzhenQin, @5ab-juruo

Fixed links Error
  docs/badge.md
Owners: @wxh06, @YuzhenQin

Fix the bug of rand-training-problem ^- 修复随机跳题 tInfo.userScore 为 null 的 error
  src/modules/rand-training-problem.js
Owners: @optimize-2, @ForkKILLET

Fix the bug of module messages ^- 私信提醒在 Luogu 私信界面不再出现
  src/modules/messages.js
Owners: @optimize-2, @ForkKILLET

Add enhancement of auto remove message tab -M messages 可以设置新私信 tab 自动消失时间。
  docs/modules/messages.md
  src/modules/messages.js
Owners: @wxh06, @YuzhenQin, @optimize-2, @ForkKILLET

Fix the bug of import-problem-to-cph -^ 修复了在 CF 题目下正则匹配的问题
  src/modules/import-problem-to-cph.js
Owners: @optimize-2, @ForkKILLET

Fix docs for messages
  docs/modules/messages.md
Owners: @wxh06, @YuzhenQin

Fix the bug of import-problem-to-cph -^ 修复了在 CF 题目下正则匹配的问题
  src/modules/import-problem-to-cph.js
Owners: @optimize-2, @ForkKILLET

Fix the bug of module messages ^- 私信提醒在 Luogu 私信界面不再出现
  src/modules/messages.js
Owners: @optimize-2, @ForkKILLET

Fix docs for messages
  docs/modules/messages.md
Owners: @wxh06, @YuzhenQin

Add enhancement of auto remove message tab -M messages 可以设置新私信 tab 自动消失时间。
  docs/modules/messages.md
  src/modules/messages.js
Owners: @wxh06, @YuzhenQin, @optimize-2, @ForkKILLET

Fix the bug of rand-training-problem ^- 修复随机跳题 tInfo.userScore 为 null 的 error
  src/modules/rand-training-problem.js
Owners: @optimize-2, @ForkKILLET

Update links.yml
  .github/workflows/links.yml
Owners: @wxh06, @YuzhenQin, @5ab-juruo

Reformat YAML to satisfy prettier & remove unused
  .github/workflows/links.yml
  .markdownlintcheck.json
Owners: @wxh06, @YuzhenQin, @5ab-juruo, @optimize-2, @ForkKILLET

Update README.md
  README.md
Owners: @optimize-2, @ForkKILLET

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Owners: @5ab-juruo

Update config.cjs
  docs/.vuepress/config.cjs
Owners: @wxh06, @YuzhenQin

Update .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Owners: @5ab-juruo

[CI] Add auto CNAME
  .github/workflows/docs.yml
Owners: @wxh06, @YuzhenQin, @5ab-juruo

[CI] Fix prettier
  .github/workflows/docs.yml
Owners: @wxh06, @YuzhenQin, @5ab-juruo

Update issue templates (#292)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Owners: @5ab-juruo

Change XNColorPicker URL
  src/resources/tm-headers.js
Owners: @optimize-2, @ForkKILLET

Update README.md
  README.md
Owners: @optimize-2, @ForkKILLET

Add docs home and navbar
  docs/.vuepress/config.cjs
  docs/.vuepress/configs/navbar.cjs
  docs/.vuepress/public/images/logo.svg
  docs/README.md
  docs/docs.md
Owners: @wxh06, @YuzhenQin

Fix docs navbar
  README.md
  docs/.vuepress/config.cjs
  docs/.vuepress/configs/navbar.cjs
  docs/index.md
  docs/package.json
  yarn.lock
Owners: @optimize-2, @ForkKILLET, @wxh06, @YuzhenQin

Fix theme version
  docs/package.json
Owners: @wxh06, @YuzhenQin

yarn.lock
  yarn.lock
Owners: @optimize-2, @ForkKILLET

prettier
  .github/workflows/docs.yml
Owners: @wxh06, @YuzhenQin, @5ab-juruo

CODEOWNERS:

* @optimize-2 @ForkKILLET

LICENSE.md @optimize-2 @ForkKILLET @Minstdfx @5ab-juruo @undefined-moe @YuzhenQin @wxh06

/.github/ISSUE_TEMPLATE/ @5ab-juruo
/.github/workflows/ @wxh06 @YuzhenQin @5ab-juruo
/scripts/ @5ab-juruo @wxh06
.husky/ @5ab-juruo @wxh06
.vscode/ @wxh06
.markdownlint.json @YuzhenQin
.lintstagedrc.cjs @wxh06
.eslintignore @wxh06
.prettierignore @wxh06
pyproject.toml @wxh06

docs/ @wxh06 @YuzhenQin

# 请模块/组建作者自行添加：
# Writing permission to this repo is required
/src/components/register-badge.js @Minstdfx
/src/modules/blog.js @YuzhenQin
/src/modules/captcha.js @wxh06
/src/modules/token.js @wxh06
